@media (max-width: 461px){ 
	.remember{
	padding: 0px 0px !important;
}
.sidenav {
    height: 100%;
    width: 80% !important;
    position: fixed;
    z-index: 9999999;
    top: 1px;
    left: -100%;
    background: rgba(43, 41, 41, 0.9);
    overflow-x: hidden;
    transition: all 0.6s ease-in-out;
    padding-top: 60px;
}
.my_account{
	padding: 0px 0px;
}
.my_account h4{
	font-size: 20px;
}
.my_account button{
	margin-top: 0px !important;
}

.sidenav i{
   visibility: visible;
   display: block;
   float: left;
   margin-right: 10px;
   margin-top: 4px;
   color: #23adf3;
}
#common_password{
	margin-top: 0px;
}
.my_account h4{
	margin-top: 15px !important;
}
.form_margin h5{
	    font-size: 26px;
   
    margin: 11px 0px !important
	}
 .form_margin input::placeholder {
     font-family: 'montserratregular';
     font-size: 12px;
     color: #56676b !important;

}

.form_margin input{
	    height: 40px;
    padding: 0px 10px !important;
    margin-bottom: 17px;
}
/*.modal{
	position: absolute !important;
}*/
.form_margin img{
	width: 100%;
}
.form_margin button{
	    margin: 8px 0px;
	        height: 36px;
	            font-size: 14px;
}
.form_social {
    margin: 4px 0px;
   
}
.form_social a{
	height: 40px !important;
	width: 40px !important;
}
.form_or{
	    width: 75px;
	        margin: 0px 0px;
}
.form_margin{
	    padding: 30px 15px !important;
}
.form_inner{
	margin: 60px 0px;
	border-radius: 0px;
	min-height: auto !important;
}
.remember input[type=checkbox]{
	margin-right: 5px !important;
}
.remember span{
	font-size: 13px;
}
.form_inner{
	    margin: 60px 8px;
	    width: 95%;
}
.closebtn{
    display: block;
}
.closebtn span{
	display: block;
	float: left;
	color: #fff;
	width: 80%;
	font-size: 22px;
}
.closebtn p{
	display: block;
	float: right;
	width: 20%;
	    text-align: right;
    padding-right: 10px;
    margin: 0px;
    color: #fff;
    font-size: 22px;
}
.wow_menu ul{
	text-align: left;
}
.logo span{
   display: inline-block;
    font-size: 30px;
    margin-left: -67px;
    vertical-align: -5px;
    margin-right: 27px;
}
.logo span img{
	width: 40% !important;
}
.sidenav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    border-bottom: 1px solid #fff;
   left: 0px;
    width: 100%;
    font-size: 36px;
    margin-left: 0px;
}

.wow_menu ul{
	margin-left: 0px !important;
}

.header-top img{
	width: 100%;
}
.blog_detail{
	margin-bottom: 15px;
}
.search_btn button{
	    width: 140px;
	    font-size: 12px;
	    height: 50px;
	    margin: 0px 19px;
	    text-transform: capitalize;
	        background: rgba(255,255,255,0.8);
}
.logo_scroll{
	padding-top: 10px !important;
}
.logo{
	text-align: left !important;
	padding-left: 0px !important;
	text-align: center !important;
}
.menu_scroll{
	top: -24px !important;
}
.common_footer a{
	display: none !important;
}
#wow_slider{
	height: 225px !important;
}

 .logo img{
 	padding-left: 0px !important;
 	width: 50% !important;
 	   
 }
.logo_scroll img{
	 margin-top: 7px;
}
 #common_section{
 	padding: 25px 0px;
 }
 #common_section h1{
 	text-align: center;
 	font-size: 25px;
 }
 .search_shadow{
 	margin: 0px 0px;
 	padding-bottom: 15px !important;
 }
 #copyright{
 	padding: 15px 0px;
 }
 #copyright p{
 	font-size: 12px;
 }
 .wow_review1{
 	margin-bottom: 15px !important;
 }
 .iphone {
 	padding: 0px 15px !important;
 	padding-left: 15px !important;
 }

 .iphone img{
 	width: 100%;
 }
.common_heading{
	padding:18px 0px !important;
}
.common_heading h1{
	font-size: 30px !important;
	padding-bottom: 0px !important;
}
.padding_remove{
	padding:0px 15px !important;
}

.demo-inner-content{
	top: 155px !important;
	width: 100% !important;
}
.search_btn .fa-search{
	font-size: 15px !important;
	display: block;
}
.pencil i{
	font-size: 15px !important;
	margin: 0px !important;
	float: none;
}
.view_all{
	margin: 20px auto;
	padding: 10px 0px;
}
.view_all a{
	font-size:14px;
}
.background_blue h4{
	font-size: 25px;
}
.background_blue p{
	font-size: 15px;
	padding: 0px 3%;
}
.background_blue p br{
	display: none;
}
.background_blue{
	margin-bottom: 30px;
	padding: 15px 0px;
}
#most_rated{
	padding: 30px 0px;
}
.mosre_rated img{
	height: auto !important;
}
.moste_slider{
	height: auto !important;
	border: 1px solid #dfdfdf !important;

    margin: 0px 15px;
}
.padding_inside{
	text-align: center;
}
.float_img h3{
	font-size: 21px;
	padding: 15px 0px !important;
}
#recentblog .owl-dots{
	margin: 20px !important;
}
#recent_blog{
	margin-top: 0px !important;
}
.download_app {
	text-align: center;
	padding: 0px;
}
.download_background{
	padding: 20px 0px !important;
	padding-bottom: 0px !important;
}
.download_app h5{
	font-size: 20px;
}
.download_app h4{
	font-size: 25px;
}
.download_app p{

    margin: 14px 18px;
}
.app_download a{
	float: left;
	width:47%;
	margin-right: 0px;
}
.app_download a img{
	width: 100%;
	margin: 20px 10px;
}
#footer_main p{
	text-align: center;
	font-size: 14px;
}
#footer_main{
	padding: 25px 0px;
	padding-bottom: 0px !important;
}
.remo_padding1 p{
	display: none;
}
.common_footer h4{
	font-size: 18px;
	text-align: center;
}
.remo_padding1 input{

	margin-left: 15px !important;
	margin: 15px 0px;
}
.remo_padding1 button{
	margin: 15px 5px;
	padding: 6px 39px !important;
}
.remo_padding1 a{
	display: none;
}
#common_section{
	padding: 25px 0px !important;
}
#common_section h1{
	font-size: 25px !important;
	padding: 10px 0px !important;
}
#common_section p{
	text-align: center;
}
#selectboxCommon {
	margin-bottom: 45px !important;
}

.proceed{
	margin-top: 0px;
}
.remo_padding p{
	width: 100%;
	    font-size: 20px;
    text-align: center;
    float: none;
    line-height: 28px !important;
}
#search_review{
	padding-top: 20px;
}
.search_rew_a{
	float: none;
	width: 60%;
	margin: 20px auto;
}
.remo_padding{
	
	padding: 0px 15px !important;
}
.top_padding{
	margin-bottom:0px;
}
.review_details{
	margin-top: 0px;
}
.review_img{
	width: 100%;
	float: none;
}
.inner_left{
	float: none;
	padding-top: 15px;
}
.hoverImg{
	right: 15px;
}
.sidebar_img:hover .hoverImg{
	width: 78%;
}
.review_left{
	float: none;
	width: 100%;
	padding-left: 0px;
}
.review_left a{
	width: 100%;
}
.padding_right1{
	padding: 0px 15px !important;
}
.sidebar_img img{
	height: auto;
}
.wow_menu ul li{
	padding: 10px 0px !important;
	display: block;
	text-transform: capitalize;
}
.login_process li{
	display: block;
	margin: 0px 0px !important;
	padding-left: 0px;
	text-transform: capitalize;
}
.login_process{
	text-align: left;
}
#forgot_password .form_inner{
	width: 95% !important;
}
.login_process li{
	padding: 10px 0px !important;
}
.login_process li:hover{
	padding: 10px 0px !important;
	border: 0px !important;
}
.wow_menu ul li:hover{
	color: #fff !important;
	    border-bottom: 0px solid transparent !important;
}
.review_right{
	width: 100%;
	background-size: cover;
}
.main_review_write img{
	float: none;
	    margin: 22px 15px;
    width: 90% !important;
}
.review_write_float{
	float: none;
	padding: 22px 15px;
}
.review_right img{
	width: auto !important;
}
.fileupload p{
	float: none;
}
.fileupload button{
	float: none;
}
.desktop_hide{
	display: block !important;
}
}

 @media (min-width:461px) and (max-width:767px){
 		.remember{
	padding: 0px 0px !important;
}
.sidenav {
    height: 100%;
    width: 80% !important;
    position: fixed;
    z-index: 9999999;
    top: 1px;
    left: -100%;
    background: rgba(43, 41, 41, 0.9);
    overflow-x: hidden;
    transition: all 0.6s ease-in-out;
    padding-top: 60px;
}
.sidenav i{
   visibility: visible;
   display: block;
   float: left;
   margin-right: 10px;
   margin-top: 4px;
   color: #23adf3;
}
.form_margin h5{
	    font-size: 26px;
   
    margin: 11px 0px !important
	}
 .form_margin input::placeholder {
     font-family: 'montserratregular';
     font-size: 12px;
     color: #56676b !important;

}

.form_margin input{
	    height: 40px;
    padding: 0px 10px !important;
    margin-bottom: 17px;
}
/*.modal{
	position: absolute !important;
}*/
.form_margin img{
	width: 100%;
}
.form_margin button{
	    margin: 8px 0px;
	        height: 36px;
	            font-size: 14px;
}
.form_social {
    margin: 4px 0px;
   
}
.form_social a{
	height: 40px !important;
	width: 40px !important;
}
.form_or{
	    width: 75px;
	        margin: 0px 0px;
}
.form_margin{
	    padding: 30px 15px !important;
}
.form_inner{
	margin: 60px 0px;
	border-radius: 0px;
	min-height: auto !important;
}
.remember input[type=checkbox]{
	margin-right: 5px !important;
}
.remember span{
	font-size: 13px;
}
.form_inner{
	    margin: 60px 8px;
	    width: 95%;
}
.closebtn{
    display: block;
}
.closebtn span{
	display: block;
	float: left;
	color: #fff;
	width: 80%;
	font-size: 22px;
}
.closebtn p{
	display: block;
	float: right;
	width: 20%;
	    text-align: right;
    padding-right: 10px;
    margin: 0px;
    color: #fff;
    font-size: 22px;
}
.wow_menu ul{
	text-align: left;
}
.logo span{
   display: inline-block;
    font-size: 30px;
    margin-left: -67px;
    vertical-align: -5px;
    margin-right: 27px;
}
.logo span img{
	width: 40% !important;
}
.sidenav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    border-bottom: 1px solid #fff;
   left: 0px;
    width: 100%;
    font-size: 36px;
    margin-left: 0px;
}

.wow_menu ul{
	margin-left: 0px !important;
}

.header-top img{
	width: 100%;
}
.blog_detail{
	margin-bottom: 15px;
}
.search_btn button{
	    width: 140px;
	    font-size: 12px;
	    height: 50px;
	    margin: 0px 19px;
	    text-transform: capitalize;
	        background: rgba(255,255,255,0.8);
}
.logo_scroll{
	padding-top: 10px !important;
}
.logo{
	text-align: left !important;
	padding-left: 0px !important;
	text-align: center !important;
}
.menu_scroll{
	top: -24px !important;
}
.common_footer a{
	display: none !important;
}
#wow_slider{
	height: 225px !important;
}

 .logo img{
 	padding-left: 0px !important;
 	width: 50% !important;
 	   
 }
.logo_scroll img{
	 margin-top: 7px;
}
 #common_section{
 	padding: 25px 0px;
 }
 #common_section h1{
 	text-align: center;
 	font-size: 25px;
 }
 .search_shadow{
 	margin: 0px 0px;
 	padding-bottom: 15px !important;
 }
 #copyright{
 	padding: 15px 0px;
 }
 #copyright p{
 	font-size: 12px;
 }
 .wow_review1{
 	margin-bottom: 15px !important;
 }
 .iphone {
 	padding: 0px 15px !important;
 	padding-left: 15px !important;
 }

 .iphone img{
 	width: 100%;
 }
.common_heading{
	padding:18px 0px !important;
}
.common_heading h1{
	font-size: 30px !important;
	padding-bottom: 0px !important;
}
.padding_remove{
	padding:0px 15px !important;
}

.demo-inner-content{
	top: 155px !important;
	width: 100% !important;
}
.search_btn .fa-search{
	font-size: 15px !important;
	display: block;
}
.pencil i{
	font-size: 15px !important;
	margin: 0px !important;
	float: none;
}
.view_all{
	margin: 20px auto;
	padding: 10px 0px;
}
.view_all a{
	font-size:14px;
}
.background_blue h4{
	font-size: 25px;
}
.background_blue p{
	font-size: 15px;
	padding: 0px 3%;
}
.background_blue p br{
	display: none;
}
.background_blue{
	margin-bottom: 30px;
	padding: 15px 0px;
}
#most_rated{
	padding: 30px 0px;
}
.mosre_rated img{
	height: auto !important;
}
.moste_slider{
	height: auto !important;
	border: 1px solid #dfdfdf !important;

    margin: 0px 15px;
}
.padding_inside{
	text-align: center;
}
.float_img h3{
	font-size: 21px;
	padding: 15px 0px !important;
}
#recentblog .owl-dots{
	margin: 20px !important;
}
#recent_blog{
	margin-top: 0px !important;
}
.download_app {
	text-align: center;
	padding: 0px;
}
.download_background{
	padding: 20px 0px !important;
	padding-bottom: 0px !important;
}
.download_app h5{
	font-size: 20px;
}
.download_app h4{
	font-size: 25px;
}
.download_app p{

    margin: 14px 18px;
}
.app_download a{
	float: left;
	width:47%;
	margin-right: 0px;
}
.app_download a img{
	width: 100%;
	margin: 20px 10px;
}
#footer_main p{
	text-align: center;
	font-size: 14px;
}
#footer_main{
	padding: 25px 0px;
	padding-bottom: 0px !important;
}
.remo_padding1 p{
	display: none;
}
.common_footer h4{
	font-size: 18px;
	text-align: center;
}
.remo_padding1 input{

	margin-left: 15px !important;
	margin: 15px 0px;
}
.remo_padding1 button{
	margin: 15px 5px;
	padding: 6px 39px !important;
}
.remo_padding1 a{
	display: none;
}
#common_section{
	padding: 25px 0px !important;
}
#common_section h1{
	font-size: 25px !important;
	padding: 10px 0px !important;
}
#common_section p{
	text-align: center;
}
#selectboxCommon {
	margin-bottom: 45px !important;
}

.proceed{
	margin-top: 0px;
}
.remo_padding p{
	width: 100%;
	    font-size: 20px;
    text-align: center;
    float: none;
    line-height: 28px !important;
}
#search_review{
	padding-top: 20px;
}
.search_rew_a{
	float: none;
	width: 60%;
	margin: 20px auto;
}
.remo_padding{
	
	padding: 0px 15px !important;
}
.top_padding{
	margin-bottom:0px;
}
.review_details{
	margin-top: 0px;
}
.review_img{
	width: 100%;
	float: none;
}
.inner_left{
	float: none;
	padding-top: 15px;
}
.hoverImg{
	right: 15px;
}
.sidebar_img:hover .hoverImg{
	width: 78%;
}
.review_left{
	float: none;
	width: 100%;
	padding-left: 0px;
}
.review_left a{
	width: 100%;
}
.padding_right1{
	padding: 0px 15px !important;
}
.sidebar_img img{
	height: auto;
}
.wow_menu ul li{
	padding: 10px 0px !important;
	display: block;
	text-transform: capitalize;
}
.login_process li{
	display: block;
	margin: 0px 0px !important;
	padding-left: 0px;
	text-transform: capitalize;
}
.login_process{
	text-align: left;
}
#forgot_password .form_inner{
	width: 95% !important;
}
.login_process li{
	padding: 10px 0px !important;
}
.login_process li:hover{
	padding: 10px 0px !important;
	border: 0px !important;
}
.wow_menu ul li:hover{
	color: #fff !important;
	    border-bottom: 0px solid transparent !important;
}
.review_right{
	width: 100%;
	background-size: cover;
}
.main_review_write img{
	float: none;
	    margin: 22px 15px;
    width: 90% !important;
}
.review_write_float{
	float: none;
	padding: 22px 15px;
}
.review_right img{
	width: auto !important;
}
.fileupload p{
	float: none;
}
.fileupload button{
	float: none;
}
.desktop_hide{
	display: block !important;
}
}



@media only screen and (min-width:768px) and (max-width:992px){ 


}

@media only screen and (min-width : 1024px) and (max-width : 1500px) { 

.logo img{
	padding-left: 0px !important;
	
}
.social_media li{
	
}
.login_process li{
	margin: 30px 0px !important;
}
.wow_menu ul li{
	        padding: 42px 8px !important;

}
.wow_menu_scroll ul li{
	padding-top: 62px !important;
    padding-bottom: 31px !important;
}
.login_process_scroll li{
    margin-bottom: 0px !important;
    margin-top: 49px !important;
}
.social_media li{
	height: 32px !important;
	width: 32px !important;
}
.login_inner, .form_inner{
	margin: 107px auto !important;
	width: 1000px !important;
}
.form_inner{
	min-height: auto !important;
}
.login_inner{
	height: auto !important;
}
.form_margin{
	padding: 35px 35px !important;
}
.form_margin input{
	height: 45px !important;
}
.form_social,.form_or{
	margin: 0px 0px !important;
} 

.form_margin button{
	margin: 0px 0px !important;
}
.remember span{
	display: block;
	padding-bottom: 25px;
}