@import url("bootstrap.min.css");
@import url("zoomslider.css");
@import url("fontawesome-all.min.css");
@import url("animate.css");
@import url("owl.carousel.min.css");
@import url("owl.theme.css");
@import url("jquery.hislide.css");
@import url("bootstrap-formhelpers.min.css");
@import url("jquery-ui.css");
@import url("../fonts/css/fontawesome-all.min.css");
@import url("bootstrap-slider.css");
@import url("bootstrap-formhelpers.min.css");
@import url("bootstrap-select.min.css");

 @import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
 @font-face {
     font-family: 'montserrat_alternatesregular';
     src: url('../fonts/montserratalternates-regular-webfont.woff2') format('woff2'), url('../fonts/montserratalternates-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'montserrat_alternatessemibold';
     src: url('../fonts/montserratalternates-semibold-webfont.woff2') format('woff2'), url('../fonts/montserratalternates-semibold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'montserratbold';
     src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'montserratlight';
     src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'montserratmedium';
     src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat-medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'montserratregular';
     src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'montserratsemibold';
     src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat-semibold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
 html, body {
     margin: 0;
     padding: 0;
     background-color: #fff;
}
 h1, h2, h3, h4, h5, h6, ul, ol {
     margin: 0px !important;
     padding: 0px !important;
}
 a {
     text-decoration: none;
     outline: none;
}
 a:hover {
     outline: none;
     text-decoration: none !important;
}
 #wow_slider {
     position: relative;
    /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
     overflow: hidden;
    /* to bound the empty top space created by inner element's top margin */
     width: 100%;
     height: 580px;
     background-color: #999;
}
 .demo-inner-content {
     position: relative;
    /* if position is not set, the script will set it to 'relative'. */
     z-index: 2;
    /* if z-index is not set, the script will set it to '2'. */
     width: 600px;
     margin: 0px auto;
     top: 460px;
}
 .header-top {
     background: #67778e;
}
 .wow_menu ul{
     margin-left: 35px !important;
}
 .wow_menu ul li {
     display: inline-block;
     text-transform: uppercase;
     padding: 42px 10px;
     border-bottom: 2px solid transparent;
}
 .wow_menu ul li:hover {
     border-bottom: 2px solid #ddc437 !important;
     -moz-transition: all 0.5s ease-in-out;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .wow_menu ul li:hover a {
     color: #ddc437 !important;
     -moz-transition: all 0.5s ease-in-out;
     transition: all 0.6s ease-in-out;
}
 .wow_menu ul li a {
     font-family: 'montserratmedium';
     font-size: 14px;
     color: #fff !important;
     font-weight: 100;
}
 .common_footer ul li a:hover {
     color: #33bae7;
     -moz-transition: all 0.5s ease-in-out;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .login_process li a {
     font-family: 'montserratmedium';
     font-size: 14px;
     color: #fff;
     letter-spacing: 1px;
}
 .login_process {
     color: #fff;
     text-transform: uppercase;
     font-family: 'montserratmedium';
}
 .login_process li {
     display: inline-block;
     text-transform: uppercase;
     color: #fff;
     margin: 32px 0px;
     border-radius: 8px;
     padding: 10px 23px;
     border: 1px solid transparent;
}
 .login_process li:hover {
     border: 1px solid #fff;
     border-radius: 8px;
     cursor: pointer;
     transition: 0.6s;
     padding: 10px 23px;
}
 .social_media {
     float: left;
}
 .wow_menu li a {
     padding: 0px !important;
}
 .social_media li {
     display: inline-block;
     text-align: center;
     height: 42px;
     width: 45px;
     border: 1px solid #e3e8e9;
     margin: 32px 0px;
     padding: 1px 0px;
}
 .social_media li:first-child {
     margin-left: 10px;
}
 .social_media li a {
     font-size: 25px;
     color: #33bae7;
}
 .social_media li:hover {
     transition: all 0.6s ease-in-out;
     border: 1px solid #33bae7;
     cursor: pointer;
}
 .logo {
     padding: 13px 0px;
}
 .padding_remove {
     padding: 0px !important;
}
 .wow_menu ul li a:hover {
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     text-decoration: none !important;
     color: #d7be34 !important;
}
 .wow_menu ul li a:focus {
     outline: none;
}
 .login_process li a:focus {
     outline: none;
     text-decoration: none;
}
 .login_process li a:hover {
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     text-decoration: none !important;
     color: #33bae7;
     outline: none;
}
 .search_btn button {
     width: 245px;
     height: 60px;
     float: left;
     margin: 0px 25px;
     outline: none;
     border: 0px;
     border-radius: 5px;
     font-family: 'montserratsemibold';
     font-size: 16px;
     text-transform: uppercase;
     color: #1855a4;
     letter-spacing: 1px;
     border: 2px solid #1855a4;
     background: transparent;
}
 .search_btn button:focus {
     outline: none;
}
 .search_btn button i {
     font-size: 25px;
}
 .search_btn .fa-search {
     font-size: 20px !important;
}
 .pencil i {
     font-size: 22px !important;
     float: left;
     display: block;
     margin: 5px 0px;
     margin-left: 20px;
     margin-right: 7px;
}
 .pencil span {
     display: block;
     float: left;
     padding-top: 7px;
}
 .search_btn button:hover {
     cursor: pointer;
     color: #fff;
     border: 2px solid transparent;
     background: url(../images/button.png) center center no-repeat;
}
 .zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
     border: 2px solid #d89b00 !important;
     background: transparent !important;
     height: 12px !important;
     width: 12px !important;
     margin: 5px !important;
     display: none !important;
}
 .zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active {
     background: #2092c5 !important;
     border: 0px !important;
}
 .common_heading {
     padding: 52px 0px;
}
 .common_heading h1 {
     font-family: 'montserrat_alternatesregular';
     font-size: 45px;
     padding-bottom: 15px !important;
     color: #38363d;
}
 .wow_review {
     border: 1px solid #dfdfdf;
     text-align: center;
     height: 225px;
}
 .float_img span {
     font-family: 'montserratmedium';
     font-size: 18px;
     color: #38363d;
}
 .float_img h3 {
     font-family: 'montserratmedium';
     color: #38363d;
     font-size: 30px;
     text-transform: uppercase;
     letter-spacing: 0.5px;
     padding: 3px 0px !important;
}
 .float_img p {
     font-family: 'montserratregular';
     font-size: 16px;
     color: #62646a;
     line-height: 25px;
     margin: 0px;
}
 .padding_inside {
     padding: 18px;
     border: 1px solid #dfdfdf;
     border-top: 0px;
}
 .inside_div {
     border: 1px solid #e2e9f0;
     background: #f9f9fa;
     border-top: 0px;
     padding: 10px 15px;
}
 .inside_div p {
     display: block;
     float: left;
     width: 50%;
     text-align: left;
      font-family: 'montserratmedium';
     color: #253953;
     font-size: 13px;
     line-height: normal;
}
 .inside_div p span {
      font-family: 'montserratmedium';
     font-size: 12px;
     color: #56676b;
     display: block;
     margin-top: 8px;
}
 .inside_div h4 {
     display: block;
     float: right;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #62646a;
     text-align: right;
}
 .inside_div h4 span {
     display: block;
     margin-top: 2px;
}
 .inside_div .fa-star {
     color: #ffcc00;
     font-size: 15px;
}
 .inside_div .far {
     color: #dee0e3;
     font-size: 15px;
}
 .social_sharing h4 {
     float: left;
     display: block;
     font-family: 'montserratregular';
     font-size: 15px;
     color: #56676b;
}
 .social_sharing h4 i {
     color: #33bae7;
     font-size: 25px;
     vertical-align: -2px;
     margin-right: 8px;
}
 .social_sharing h5 i {
     color: #d2d6dd;
     font-size: 25px;
     vertical-align: -2px;
     margin-right: 8px;
}
 .social_sharing h5 {
     float: right;
     display: block;
     font-family: 'montserratregular';
     font-size: 15px;
     color: #56676b;
}
 .social_sharing {
     padding: 18px;
}
 .social_sharing h4 a {
     color: #56676b;
}
 .social_sharing h4 a:hover {
     color: #33bae7;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .social_sharing h5 a {
     color: #56676b;
}
 .social_sharing h5 a:hover i {
     color: #33bae7;
     transition: all 0.6s ease-in-out;
}
 .social_sharing h5 a:hover {
     color: #33bae7;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .view_all {
     margin: 55px auto;
     width: 155px;
     padding: 15px 0px;
     text-align: center;
     background: url(../images/button.png) center center no-repeat;
     background-size: cover;
     border-radius: 4px;
}
 .view_all a {
     font-family: 'montserratmedium';
     font-size: 16px;
     color: #fff;
     text-transform: uppercase;
}
 .view_all:hover {
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .view_all:hover a {
     color: #000;
     transition: all 0.6s ease-in-out;
}
 #most_rated {
     background: #0997f8 !important;
     padding: 70px 0px !important;
}
 .background_blue{
     background: #178ff7;
     padding: 70px 0px;
     transition: all 0.4s ease-in-out;
}
 .background_blue h4{
     font-family: 'montserrat_alternatesregular';
     font-size: 45px;
     padding-bottom: 15px !important;
     color: #fff;
}
 .background_blue p{
     padding: 0px 12%;
     font-weight: bold;
     font-family: 'montserratlight';
     font-size: 25px;
     color: #fff;
}
 .background_blue:hover{
     transform: scale(0.9);
     transition: all 0.4s ease-in-out;
     cursor: pointer;
}
 .blog_detail {
     position: relative;
     border: 2px solid #e2e9f0;
     padding: 15px;
     padding-bottom: 0px;
}
 .blog_detail img {
     margin-right: 8px;
     width: auto !important;
     float: left;
}
 .blog_detail {
     font-family: 'montserratmedium';
     font-size: 13px;
     color: #62646a;
}
 .blog_img img {
     height: 200px;
     min-height: 200px;
     max-height: 220px;
     width: 100%;
}
 .blog_img img:hover{
}
 .blog_detail h4 {
     font-family: 'montserratmedium';
     font-size: 23px;
     margin: 12px 0px !important;
     color: #38363d;
}
 .blog_detail p {
     font-family: 'montserratlight';
     line-height: 23px;
     font-size: 15px;
     color: #62646a;
     margin: 0px;
     padding: 10px 0px !important;
}
 .sharing {
     height: 50px;
     width: 50px;
     box-shadow: 0px 0px 1px #ccd6da;
     border-radius: 100%;
     position: absolute;
     right: 15px;
     top: -25px;
     font-size: 23px;
     color: #56676b;
     text-align: center;
     padding: 13px 0;
     background: #fff;
}
 .sharing:hover {
     background: #0c91f8;
     color: #fff;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     transform: scale(0.9);
}
 #download_section {
     background: url(../images/fback.jpg) center center no-repeat fixed;
    /*height: 594px;
     */
     background-size: cover;
}
 .download_app {
     padding-top: 94px;
}
 .download_app h4 {
     font-family: 'montserrat_alternatessemibold';
     font-size: 45px;
     color: #fff;
}
 .download_app h5 {
     font-family: 'montserrat_alternatessemibold';
     font-size: 60px;
     color: #fff;
     margin: 10px 0px !important;
}
 .download_app p {
     font-family: 'montserratregular';
     color: #fff;
     font-size: 18px;
     line-height: 30px;
     display: block;
     margin: 30px 0px;
     font-weight: bold;
}
 .download_background {
     padding-top: 55px;
     background: rgba(72, 128, 204, 0.3);
}
 .app_download a {
     display: block;
     float: left;
     margin-right: 10px;
}
 .app_download img:hover{
     transform: scale(1.1);
     transition: 0.6s;
}
 #footer_main {
     background: #343539;
     padding: 55px 0px;
}
 #footer_main p {
     font-family: 'montserratregular';
     font-size: 15px;
     color: #9ea2ad;
     margin: 0px !important;
     font-weight: bold;
     line-height: 30px;
}
 #footer_main img {
     margin-bottom: 22px;
}
 .common_footer h4 {
     color: #fff;
     font-family: 'montserratsemibold';
     text-transform: uppercase;
     font-size: 21px;
     letter-spacing: 1px;
     padding-bottom: 18px !important;
}
 .common_footer ul li {
     display: block;
     padding: 8px 0px;
}
 .common_footer ul li a {
     font-family: 'montserratregular';
     font-size: 15px;
     color: #9ea2ad;
     letter-spacing: 0.6px;
}
 .common_footer ul li a i {
     margin-right: 15px;
     font-weight: bold;
}
 .common_footer {
     padding-left: 45px !important;
}
 .common_footer img {
     float: left;
     display: block;
}
 .remo_padding {
     padding-left: 0px !important;
}
 .remo_padding p {
     float: left;
     display: block;
     width: 68%;
     padding-top: 10px;
     padding-left: 10px;
     line-height: 21px !important;
}
 .remo_padding img {
     margin-bottom: 0px;
}
 .remo_padding span {
     color: #fff;
     padding-left: 10px;
     display: block;
     font-family: 'montserratregular';
     font-size: 12px;
     color: #33bae7;
     text-transform: uppercase;
}
 .wow_menu nav {
     background: transparent !important;
     border: none;
}
 .wow_menu .navbar {
     min-height: auto !important;
     margin-bottom: 0px !important;
}
 .remo_padding1 {
     padding: 0px !important;
}
 .remo_padding1 input {
     border-radius: 6px;
     margin: 25px 0px;
     height: 50px;
     font-family: 'montserratregular';
     color: #9ea2ad;
     background: #252526;
     font-size: 15px;
     border: 0px;
}
 .remo_padding1 button {
     border-radius: 6px;
     height: 50px;
     font-family: 'montserratsemibold';
     font-size: 16px;
    ;
     text-transform: uppercase;
     margin: 25px -17px;
     background: url(../images/button.png) center center no-repeat;
     padding: 6px 32px !important;
     border: 0px;
}
 .remo_padding1 input::placeholder {
     color: #9ea2ad !important;
     font-size: 15px;
}
 .remo_padding1 button:focus {
     outline: none;
}
 .remo_padding1 button:hover {
     background: #0c91f8 !important;
     transition: all 0.6s ease-in-out;
     color: #9ea2ad !important;
     cursor: pointer;
     z-index: 99999999;
}
 .remo_padding1 a {
     height: 40px;
     width: 40px;
     display: block;
     float: left;
     background: #9ea2ad;
     color: #fff;
     border-radius: 100%;
     margin: 0px 10px;
     text-align: center;
     font-size: 20px;
     padding: 10px 0px;
}
 .facebookf {
     margin: 0px !important;
}
 .remo_padding1 .form-group {
     margin: 0px !important;
}
 .remo_padding1 a:hover {
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     background: #33bae7;
     color: #fff;
     transform:scale(1.1);
}
 .remo_padding i {
     margin-right: 5px;
}
 #copyright {
     background: #343539;
     padding: 25px 0px;
     position: relative;
     border-top: 1px solid #45484b;
}
 #copyright p {
     margin: 0px;
     font-family: 'montserratregular';
     padding: 0px;
     font-size: 14px;
     color: #fff;
}
 .prev1 {
     height: 35px;
     width: 45px;
     float: left !important;
     background: url(../images/pre.png) center center no-repeat;
}
 .next1 {
     height: 35px;
     width: 45px;
     float: left !important;
     background: url(../images/nest.png) center center no-repeat;
}
 #recent_blog .owl-nav {
     position: absolute;
     top: -100px;
     right: 0px;
}
 .next1, .prev1:hover {
     cursor: pointer !important;
}
/* Common Page Css */
 #common_section {
     background: url(../images/common.jpg) center center no-repeat;
     background-size: cover;
     padding: 120px 0px;
}
 #common_section h1 {
     font-family: 'montserrat_alternatesregular';
     font-size: 50px;
     color: #253953;
}
 #common_section h1 span {
     font-family: 'montserrat_alternatesregular';
}
 #common_section p {
     font-family: 'montserratregular';
     color: #56676b;
     font-size: 15px;
}
 #common_section p a {
     font-family: 'montserratregular';
     color: #33bae7;
}
 #search_flight {
     background: #f7fcff;
}
 .search_shadow {
     box-shadow: 0px 0px 20px #d1dce2;
     margin: 80px 0px;
     padding: 40px 0px;
     background: #fff;
     border-radius: 4px;
}
 .search_shadow input {
     border: 0px;
     border-bottom: 2px solid #e2e9f0 !important;
     outline: none;
     box-shadow: none;
     border-radius: 0px;
     height: auto;
     font-family: 'montserratregular';
     font-size: 20px;
     color: #253953;
}
 .search_shadow select {
     border: 0px;
     height: auto;
     padding: 11px 0px;
     outline: none;
     border-radius: 0px;
     font-family: 'montserratregular';
     font-size: 20px;
     color: #253953;
     box-shadow: none;
     border-bottom: 2px solid #e2e9f0 !important;
}
 .search_shadow input:focus {
     box-shadow: none;
     outline: none;
}
 .search_shadow select:focus {
     box-shadow: none !important;
     outline: none;
}
 .search_shadow input::placeholder {
     font-family: 'montserratregular';
     font-size: 20px;
     color: #253953;
}
 .search_shadow label {
     font-family: 'montserratregular';
     color: #56676b;
     font-size: 14px;
     letter-spacing: 0.5px;
}
 #search_flight .input-group-addon {
     background: transparent;
     border: 0px;
     border-bottom: 2px solid #e2e9f0 !important;
     color: #56676b;
}
 .proceed {
     width: 150px;
     display: block;
     margin: 0px auto;
     background: #fff;
     color: #0f85ab;
     border: 2px solid #0f85ab;
     font-family: 'montserratmedium';
     text-transform: uppercase;
     font-size: 16px;
     text-align: center;
     padding: 7px 0px;
     margin-top: 30px;
}
 .proceed:hover {
     border: 2px solid transparent;
     background: #282e3a;
     color: #fff;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 #search_review {
     padding: 40px 0px;
}
 .research_today {
     float: left;
     display: block;
}
 .search_rew_a {
     display: block;
     float: right;
     width: 180px;
     background: #fff;
     color: #0f85ab;
     border: 2px solid #0f85ab;
     font-family: 'montserratmedium';
     text-transform: uppercase;
     font-size: 16px;
     text-align: center;
     letter-spacing: 0.5px;
     padding: 7px 0px;
}
 .search_rew_a:hover {
     background: #282e3a;
     color: #fff;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     border: 2px solid transparent;
}
 .research_today {
     font-family: 'montserratbold';
     color: #253953;
     font-size: 22px;
}
 .review_details {
     border: 2px solid #e2e9f0;
     padding: 22px;
     margin: 28px 0px;
}
 .review_img {
     border: 2px solid #e2e9f0;
     padding: 40px 0px;
     width: 165px;
     text-align: center;
     float: left;
}
 .inner_left {
     float: left;
}
 .inner_right {
     float: right;
     text-align: right;
}
 .inner_left h1 {
     font-family: 'montserratbold';
     font-size: 22px;
     text-transform: uppercase;
     color: #253953;
}
 .inner_left h2 {
     font-family: 'montserratregular';
     font-size: 16px;
     margin-top: 8px !important;
     margin-bottom: 22px !important;
     color: #56676b 
}
 .inner_left h3 {
     font-family: 'montserratregular';
     color: #253953;
     font-size: 18px;
}
 .inner_right .fa-star {
     color: #ffcc00;
     font-size: 15px;
}
 .inner_right .far {
     color: #dee0e3;
     font-size: 15px;
}
 .inner_right span {
     color: #56676b;
     font-family: 'montserratregular';
     font-size: 15px;
     display: block;
     padding-bottom: 4px;
}
 .paddingBottom {
     display: block;
     padding-top: 7px;
}
 .inner_right small {
      font-family: 'montserratmedium';
     font-size: 16px;
     color: #33bae7;
}
 .review_left {
     float: right;
     width: 79%;
     padding-left: 15px;
}
 .review_left a {
     display: block;
     font-family: 'montserratregular';
     color: #56676b;
     font-size: 16px;
     float: left;
     width: 209px;
     padding: 13px 0px;
     text-align: center;
     border: 1px solid #e2e9f0;
     margin-top: 14px;
     background: #f5f7fa;
}
 .review_left a:hover {
     color: #fff;
     transition: all 0.6s ease-in-out;
     background: #33bae7;
}
 .review_left a i {
     font-size: 20px;
}
 .top_padding {
     margin-bottom: 40px;
}
 .sidebar_img img {
     height: 535px;
     width: 100%;
}
 .sidebar_img {
     position: relative;
}
 .padding_right1 {
     padding-right: 0px !important;
}
 .hoverImg {
     overflow: hidden;
     position: absolute;
     bottom: 0px;
     right: 0px;
}
 .sidebar_img:hover .hoverImg {
     overflow: visible;
     cursor: pointer;
     background: url(../images/hover.png) center center;
     height: 224px;
     width: 95%;
     background-size: cover;
     transition: all 0.6s ease-in-out;
     text-align: center;
}
 .hoverImg h5 {
     display: none;
      font-family: 'montserratmedium';
     color: #fff;
     font-size: 45px;
     position: absolute;
     bottom: 7%;
     right: 10%;
}
 .sidebar_img:hover .hoverImg h5 {
     display: block;
}
 .main_review_write {
     border: 1px solid #e2e9f0;
     margin: 28px 0px;
     padding: 0px 15px;
}
 .main_review_write img {
     float: left;
     margin: 22px;
}
 .review_write_float {
     float: left;
     padding: 12px 0px;
}
 .review_right {
     float: right;
     border-left: 2px solid #e2e9f0;
     background: url(../images/bgr.png) center center;
     width: 275px;
     height: 217px;
}
 .review_write_float h3 {
      font-family: 'montserratmedium';
     font-size: 25px;
     margin-bottom: 7px !important;
     color: #253953;
}
 .review_write_float p {
     font-family: 'montserratregular';
     font-size: 18px;
     color: #253953;
     margin: 0px;
}
 .review_write_float a {
     display: block;
      font-family: 'montserratmedium';
     color: #ffbf00;
     text-transform: uppercase;
     font-size: 14px;
     border: 2px solid #ffbf00;
     width: 180px;
     padding: 8px 0px;
     text-align: center;
     margin-top: 35px;
     outline: none;
     text-decoration: none;
}
 .review_write_float a:hover {
     border: 2px solid #0f85ab;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 #review_write {
     margin: 20px 0px;
}
 .review_right img {
     float: none;
     margin: 35px;
}
 .review_right h3 {
     border: 1px solid #e2e9f0;
     width: 223px;
     padding: 8px 10px;
     display: block;
     margin: 12px 22px !important;
     background: #fff;
     border-radius: 18px;
}
 .review_right h3 i {
     font-size: 20px;
     border: 1px solid transparent;
     cursor: pointer;
     color: #ecedef;
     padding: 5px;
     color: #ecedef;
}
 .review_right h3 i:hover {
     border: 1px solid #ccc;
     padding: 5px;
     border-radius: 100%;
     color: #ffcc00;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .thanks_setion p {
      font-family: 'montserratmedium';
     color: #33bae7;
     font-size: 30px;
}
 .thanks_setion p span {
     color: #253953;
}
 .peer1 {
     border: 2px solid #e2e9f0;
     padding: 10px 0px;
}
 .peer1 p {
     font-family: 'montserratregular';
     color: #56676b;
     font-size: 16px;
     margin: 0px;
}
 .peer1 i {
     color: #ffcc00;
     font-size: 18px;
}
 .peer1 i:last-child {
     color: #e0e2e5;
}
 .peer1 i:hover {
     color: #ffcc00;
     cursor: pointer;
     transition: all 0.6s ease-in-out;
}
 .c_padding {
     margin: 0px 17px;

}
 .peer2 {
     border-left: 0px !important;
     border-right: 0px !important;
     background: #f5f7fa;
}
 .moreperr {
     border-right: 2px solid #e2e9f0;
     border-left: 0px !important;
     background: #f5f7fa;
}
 .sigle_line p {
     font-family: 'montserratregular';
     font-size: 16px;
     color: #ff9802;
}
 .sigle_line img {
     vertical-align: top;
     margin-right: 10px;
}
 .review_write_float a:focus {
     outline: none;
     text-decoration: none;
}
/* Form Validation*/
 .service_form h4 {
    font-family: 'montserratsemibold';
     font-size: 25px;
     color: #253953;
     float: left;
}
 .padd_left {
     padding-left: 0px !important;
}
 .service_form .input-group-addon {
     background: transparent;
     border-left: none !important;
     color: #56676b;
     border-radius: 0px;
     border-color: #e2e9f0;
}
 .extra_form input {
     border-right: 0px !important;
     border-radius: 0px;
     border-color: #e2e9f0;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     height: 50px;
}
 .Common_form label {
      font-family: 'montserratmedium';
     display: block;
     font-size: 20px;
     color: #253953;
     margin: 10px 0px;
     letter-spacing: 1px;
     font-weight: normal;
}
 .extra_form input::placeholder {
     font-family: 'montserratregular';
     font-size: 20px;
     color: red !important;
}
 .extra_form input:focus {
     outline: 0px;
     color: #33bae7;
     border-radius: 0px;
     border-color: #e2e9f0;
     box-shadow: none;
}
 .inputBox input {
     border-radius: 0px;
     border-color: #e2e9f0;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     height: 50px;
     padding: 0px 15px !important;
}
 .inputBox input:focus {
     outline: 0px;
     box-shadow: none;
}
 .inputBox textarea {
     border-radius: 0px;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     height: 185px !important;
     resize: none;
     padding: 15px 15px !important;
     border: 1px solid #e2e9f0;
}
 .inputBox textarea:focus {
     box-shadow: none;
}
 .inputBox select {
     border-radius: 0px;
     border-color: #e2e9f0;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     height: 50px;
     padding: 0px 15px !important;
}
 .inputBox select:focus {
     box-shadow: none;
}
/* Styles css radio Buttons */
 .inputBox [type="radio"]:checked, .inputBox [type="radio"]:not(:checked) {
     position: absolute;
     left: -9999px;
}
 .inputBox [type="radio"]:checked+label, .inputBox [type="radio"]:not(:checked)+label {
     position: relative;
     padding-left: 28px;
     cursor: pointer;
     line-height: 20px;
     display: inline-block;
     color: #666;
}
 .inputBox [type="radio"]:checked+label:before, .inputBox [type="radio"]:not(:checked)+label:before {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 18px;
     height: 18px;
     border: 1px solid #ddd;
     border-radius: 100%;
     background: #fff;
}
 .inputBox [type="radio"]:checked+label:after, .inputBox [type="radio"]:not(:checked)+label:after {
     content: '';
     width: 12px;
     height: 12px;
     background: #33bae7;
     position: absolute;
     top: 3px;
     left: 3px;
     border-radius: 100%;
     -webkit-transition: all 0.2s ease;
     transition: all 0.2s ease;
}
 .inputBox [type="radio"]:not(:checked)+label:after {
     opacity: 0;
     -webkit-transform: scale(0);
     transform: scale(0);
}
 .inputBox [type="radio"]:checked+label:after {
     opacity: 1;
     -webkit-transform: scale(1);
     transform: scale(1);
}
 .radion label {
  font-family: 'montserratregular';
     font-size: 15px !important;
     color: #56676b;
}
 .radion {
     padding: 6px 0px;
}
 .compaDD {
     padding: 30px 0px !important;
}
 .radion1 label {
     font-size: 16px !important;
  font-family: 'montserratregular';
     display: block;
     margin-right: 30px;
}
 .radion1 {
     padding: 20px 0px;
}
 .service_form button {
     width: 175px;
     height: 50px;
     text-align: center;
     border: 2px solid #ffd16b;
     color: #ffd16b;
     background: #fff;
      font-family: 'montserratmedium';
     font-size: 18px;
     margin-top: 40px;
     margin-bottom: 50px;
}
 .service_form button:hover {
     border: 2px solid #0f85ab;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     color: #0f85ab;
}
 .fileupload {
     border: 1px solid #e2e9f0;
     margin: 30px 0px;
     background: #f5f7fa;
     padding: 18px 20px !important;
}
 .fileupload p {
      font-family: 'montserratmedium';
     font-size: 20px;
     color: #253953;
     margin: 6px 0px!important;
     display: block;
     float: left;
}
 .fileupload button {
     float: right;
     margin: 0px !important;
}
 .fileupload button {
     border: 2px solid #0f85ab;
     color: #0f85ab;
     height: 40px;
     text-transform: uppercase;
     width: 165px;
}
 .fileupload button:hover {
     border: 2px solid #ffd16b;
     color: #ffd16b;
}
 .container1 {
     position: relative;
     margin-bottom: 25px;
}
 .image {
     display: block;
     width: 100%;
     height: auto;
}
 .overlay {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(93, 89, 89, 0.66);
     overflow: hidden;
     width: 100%;
     height: 0;
     cursor: pointer;
     transition: all 0.6s ease-in-out;
}
 .container1:hover .overlay {
     height: auto;
     padding: 55px 0px;
     cursor: pointer;
}
 .text {
     position: absolute;
     top: 50%;
     left: 5%;
     transform: translate(0%, 0%);
     -ms-transform: translate(0%, 0%);
     text-align: left !important;
}
.inner{
     overflow-y: hidden !important;
}
 .common_side {
     margin: 28px 0px;
}
 .text h2 {
      font-family: 'montserratmedium';
     color: #fff;
     font-size: 25px;
}
 .text span {
     color: #33bae7;
     font-size: 18px;
      font-family: 'montserratmedium';
}
 .wow_review {
     position: relative;
}
 .wow_review:hover .overlay1 {
     height: 100%;
     transform: scale(1);
     cursor: pointer;
}
 .overlay1 {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(211, 186, 48, 0.62);
     overflow: hidden;
     width: 100%;
     height: 100%;
     -webkit-transform: scale(0);
     transition: all 0.6s ease-in-out;
}
 .text1 {
     width: 100%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     text-align: center !important;
}
 .common_side {
     margin: 28px 0px;
}
 .text1 h2 {
     color: #253953;
     font-size: 18px;
     margin-bottom: 18px !important;
     display: block;
     font-family: 'montserratbold';
     text-transform: uppercase;
}
 .text1 span {
     color: #fff;
     font-size: 18px;
     font-family: 'montserratbold';
     text-transform: uppercase;
}
 .up_slide {
     position: absolute;
     height: 350px;
     width: 256px;
     top: 0px;
     right: -50px;
     z-index: 999 !important;
     background: #2092c5;
}
 .up_slide h2 {
     border-bottom: 1px solid #fff;
    font-family: 'montserratsemibold';
     font-size: 30px;
     text-transform: uppercase;
     display: block;
     color: #fff;
     width: 70%;
     margin: 0px 10px !important;
     padding: 0px 15px;
     margin-top: 50px !important;
     padding-bottom: 15px !important;
}
 .up_slide span {
     display: block;
}
 .up_slide p {
     color: #fff;
      font-family: 'montserratmedium';
     font-size: 15px;
     text-align: center;
     line-height: 30px;
     width: 70%;
     display: block;
     padding-top: 10px !important;
     margin: 0px 10px !important;
}
 .write_footer {
     height: 50px;
     width: 50px;
     background: #33bae7;
     border-radius: 100%;
     position: absolute;
     bottom: 50px;
     right: 204px;
     color: #fff;
     text-align: center;
     font-weight: normal;
     font-size: 26px;
     padding: 7px;
     text-align: center;
}
/*.position_left{
     position: absolute !important;
     right: 0px !important;
     height: 200px !important;
     width: 100px !important;
     border: 1px solid red !important;
     z-index: 999999 !important;
     top: 0px;
}
 .position_right{
     position: absolute !important;
     left: 0px !important;
     height: 200px !important;
     width: 100px !important;
     border: 1px solid red !important;
     z-index: 999999 !important;
     top: 0px;
}
 */
 .search_shadow option {
     font-size: 15px !important;
}
 .recent_review {
     border: 2px solid #e2e9f0;
     box-shadow: 0px 0px 30px #e2e9f0;
     border-left: 0px;
}
 .recent_review span {
      font-family: 'montserratmedium';
     font-size: 18px;
     color: #253953;
}
 .recent_review h3 {
     font-family: 'montserratregular';
     color: #253953;
     font-size: 30px;
     text-transform: uppercase;
     letter-spacing: 0.5px;
     padding: 7px 0px !important;
}
 .recent_review p {
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     line-height: 25px;
     margin: 0px;
}
 .recent_review p span {
     margin-top: 0px !important;
}
 .h4div h4 {
     margin: 14px 0px !important;
}
 .recent_padding {
     margin: 60px 0px;
}
 .recent_margin {
     margin-bottom: 25px;
}
/* Extra styles for the cancel button */
 .cancelbtn {
     width: auto;
     padding: 10px 18px;
     background-color: #f44336;
}
/* Center the image and position the close button */
 .imgcontainer {
     text-align: center;
     margin: 24px 0 12px 0;
     position: relative;
}
 .model_classess {
     position: relative;


}
body .modal{
    overflow: scroll !important;
}
/* The Modal (background) */
 .modal {
    /* Hidden by default */
     position: fixed !important;
    /* Stay in place */
     z-index: 9999999 !important;
    /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
    /* Full width */
    /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
    /* Fallback color */
     background-color: rgba(47, 44, 44, 0.52) !important;
}
 .recent_margin {
     padding-left: 0px !important;
}
/* Modal Content/Box */
 .modal-content {
     background-color: #fefefe;
     margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
     border: 1px solid #888;
     width: 80%;
    /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
 .close {
     position: absolute;
     right: 18px;
     top: 12px;
     color: #000;
     font-size: 18px !important;
     font-weight: bold;
     background: #86a4c1;
     height: 20px;
     width: 20px;
     border-radius: 100%;
     line-height: normal !important;
     text-align: center;
}
 .close:hover, .close:focus {
     color: red;
     cursor: pointer;
}
/* Add Zoom Animation */
 .animate {
     -webkit-animation: animatezoom 0.9s;
     animation: animatezoom 0.9s 
}
 .imgcontainer {
}
 @-webkit-keyframes animatezoom {
     from {
         -webkit-transform: scale(0) 
    }
     to {
         -webkit-transform: scale(1) 
    }
}
 @keyframes animatezoom {
     from {
         transform: scale(0) 
    }
     to {
         transform: scale(1) 
    }
}
 .form_inner {
     margin: 150px auto;
     min-height: 630px;
     width: 1080px;
     background: url(../images/login1.jpg) center center;
     background-color: #fff;
     background-size: cover;
     border-radius: 20px;
}
 .login_inner {
     margin: 150px auto;
     width: 1080px;
     background: url(../images/r_bg.jpg) center center;
     height: 560px !important;
     background-size: cover;
     border-radius: 20px;
     background-color: #fff;
}
 .form_margin {
     padding: 50px 40px !important;
}
 .form_margin h5 {
     font-family: 'montserrat_alternatesregular';
     font-size: 40px;
     color: #253953;
     text-align: center;
     margin-bottom: 40px !important;
}
 .form_margin h5 span {
      font-family: 'montserratmedium';
     color: #253953;
}
 .form_margin input {
     width: 100%;
     border-radius: 0px;
     border-color: #e2e9f0;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     box-shadow: none !important;
     height: 60px;
     padding: 0px 15px !important;
     margin-bottom: 20px;
}
 .form_margin input::placeholder {
     font-family: 'montserratregular';
     font-size: 16px;
     color: #56676b !important;
}
 .singin {
     text-decoration: none;
     outline: none;
     font-family: 'montserratregular';
     color: #33bae7;
     font-size: 16px;
}
 .remember input[type=checkbox] {
     width: 20px;
     height: 20px;
     border: 2px solid #e2e9f0;
     border-radius: 0px !important;
     margin-right: 20px !important;
}
 .remember span {
     font-family: 'montserratregular';
     font-size: 16px;
     color: #0f85ab;
     vertical-align: 4px;
}
 .form_margin button {
     font-family: 'montserratmedium';
     font-size: 16px;
     text-transform: uppercase;
     color: #0f85ab;
     border: 2px solid #0f85ab;
     width: 114px;
     height: 54px;
     background: transparent;
     margin: 50px 0px;
     float: left;
}
 .form_margin button:hover {
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     border: 2px solid transparent;
     background: #253953;
     color: #fff;
}
 .form_or {
     float: left;
     margin: 50px 0px;
     width: 114px;
     padding: 16px 0px;
     font-family: 'montserratregular';
     color: #56676b;
     font-size: 16px;
     text-transform: uppercase;
     text-align: center;
}
 .form_social {
     margin: 50px 0px;
     float: left;
}
 .form_social a {
     float: left;
     display: block;
     height: 55px !important;
     width: 55px!important;
     font-size: 25px;
     text-align: center;
     border-radius: 100%;
     margin-right: 15px;
     color: #fff;
     padding: 11px 0px;
}

 .facebook:hover {
     transition: all 0.6s ease-in-out;
     color: #222 !important;
     transform: scale(1.1);
     cursor: pointer;
}
 .google {
     border: 2px solid #e2e9f0 !important;
     background: #fff;
     color: #33bae7 !important;
     padding: 5px 0px !important;
}
 .google:hover {
     transition: all 0.6s ease-in-out;
     color: #222 !important;
    transform: scale(1.1);
     cursor: pointer;
}
 .login_inner h5 {
     margin-top: 20px !important;
}
 .form_margin input:-webkit-autofill, .form_margin input:-webkit-autofill:hover, .form_margin input:-webkit-autofill:focus .form_margin input:-webkit-autofill, .form_margin textarea:-webkit-autofill, .form_margin textarea:-webkit-autofill:hover .form_margin textarea:-webkit-autofill:focus, .form_margin select:-webkit-autofill, .form_margin select:-webkit-autofill:hover, .form_margin select:-webkit-autofill:focus {
     border: 1px solid #e2e9f0;
     -webkit-text-fill-color: #56676b !important;
     -webkit-box-shadow: 0 0 0px 1000px #e2e9f0 inset;
     transition: background-color 5000s ease-in-out 0s;
}
/* About Page Css */
 .about_body {
     padding: 60px 0px;
}
 .about_body h2 {
    font-family: 'montserratsemibold';
     font-size: 32px;
     color: #253953;
     padding-right: 24% !important;
     line-height: 46px;
     letter-spacing: 1px;
     margin-bottom: 20px !important;
}
 .about_body p {
     font-family: 'montserratregular';
     font-size: 15px;
     color: #56676b;
     letter-spacing: 1px;
     line-height: 30px;
}
 .about_body h2 span {
     color: #33bae7;
}
 .about_body img {
     width: 90%;
     border-radius: 10px;
     height: 490px;
}
 #about_background {
     background: #f7fcff;
}
 #about_background h2 {
     padding-right: 0px !important;
}
/* Contact Section */
 #map_section {
     padding: 60px 0px;
}
 .contactus {
     padding: 50px 0px;
}
 .contactus h3 {
     display: block;
     border: 2px solid #e9eef4;
     height: 95px;
     width: 95px;
     border-radius: 100%;
     padding: 18px 0px !important;
     display: block;
     float: left;
}
 .contactus h3:hover {
     border: 2px solid #16385b;
     transition: all 0.6s ease-in-out;
     transform: rotate(360deg);
     cursor: pointer;
}
 .contactus h4 {
     display: block;
     float: left;
    font-family: 'montserratsemibold';
     font-size: 22px;
     color: #253953;
     padding: 4px 10px !important;
     width: 70%;
}
 .contactus h4 p {
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     display: block;
     padding: 10px 0px;
     line-height: 25px;
}
 .contactus h4 a {
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
}
 .mailclass {
     padding-top: 5px !important;
}
 #contactform input {
     margin-bottom: 25px;
}
 #contactform textarea {
     height: 200px !important;
}
 .submit_now {
     margin: 0px auto !important;
     width: 165px;
     height: 40px;
     border: 2px solid #0f85ab;
     color: #0f85ab;
     background: #fff;
      font-family: 'montserratmedium';
     text-transform: uppercase;
     font-size: 16px;
     margin-top: 20px !important;
     display: block;
}
 .submit_now:hover {
     border: 2px solid #ffd16b;
     color: #ffd16b;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .inputBox input {
     box-shadow: none;
}
 .inputBox textarea {
     box-shadow: none;
}
/* Listing Page Css*/
 .listing_side {
     border: 2px solid #e2e9f0;
     padding: 18px;
     margin-bottom: 8px;
}
 .listing_side h4 {
    font-family: 'montserratsemibold';
     font-size: 22px;
     color: #253953;
     margin-bottom: 8px !important;
}
 .checkbox-custom, .radio-custom {
     opacity: 0;
     position: absolute;
}
 .checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
     display: inline-block;
     vertical-align: middle;
     cursor: pointer;
}
 .checkbox-custom-label, .radio-custom-label {
     position: relative;
}
 .checkbox-custom+.checkbox-custom-label:before, .radio-custom+.radio-custom-label:before {
     content: '';
     background: #33bae7;
     display: inline-block;
     vertical-align: middle;
     width: 20px;
     height: 20px;
     padding: 2px;
     margin-right: 10px;
     border-radius: 2px;
     text-align: center;
}


 .checkbox-custom:checked+.checkbox-custom-label:before {
     content: "\f00c";
     background: #33bae7;
     color: #fff;
}
 .radio-custom+.radio-custom-label:before {
     border-radius: 50%;
}
 .radio-custom:checked+.radio-custom-label:before {
     content: "\f00c";
     font-family: 'FontAwesome';
     color: #bbb;
}
 #myProgress {
     width: 57%;
     background-color: #f5f5f5;
     border-radius: 40px;
     float: right;
     margin-top: 8px;
}
 #myBar {
     height: 15px;
     text-align: center;
     background: url(../images/pro.png) no-repeat center center;
     background-size: cover;
     border-radius: 40px;
}
 .listing_page {
     padding: 60px 0px;
}
 .extrap p {
     padding-left: 0px !important;
     padding-top: 0px !important;
}
 .sorting_list {
     padding-top: 25px;
}
 .sorting_list h3 {
     float: left;
     display: block;
     font-family: 'montserratregular';
     font-size: 16px;
     color: #555555;
}
 .sorting_list p {
     display: block;
     float: right;
     text-align: right;
     font-family: 'montserratregular';
     font-size: 15px;
     color: #555555;
     padding: 0px !important;
}
 .ratingone {
     float: right;
     display: block;
     width: 55%;
}
 .listing_side label {
     display: block;
     float: left;
     color: #56676b;
     font-family: 'montserratregular';
     font-size: 13px;
}
 .rattingone {
     margin: 5px 0px;
}
 .border123 {
     margin-bottom: 30px;
}
 .sorting_list select {
     width: 170px;
     height: 40px;
     background: #fff;
     outline: none;
     text-transform: capitalize;
     text-align: center;
     padding-left: 10px;
     border-color: #e2e9f0;
}
 .listing_page .review_details:hover {
     box-shadow: 0px 0px 4px #e2e9f0;
     transition: all 0.6s ease-in-out;
}
 .listing_side p {
     font-family: 'montserratregular';
     font-size: 16px;
     color: #56676b;
}
 .listing_side h5 {
     float: left;
     font-family: 'montserratregular';
     color: #253953;
     font-size: 13px;
}
 .listing_side h6 {
     float: right;
     font-family: 'montserratregular';
     color: #253953;
     font-size: 13px;
}
/* Listing Range Slider Css */
 .range_slider {
     margin-top: 8px;
     margin-bottom: 15px;
}
 .slider-selection {
     background: #33bae7;
}
 .slider-track {
     background: transparent;
}
 .slider {
     background: transparent;
}
 .slider-handle {
     background: #33bae7;
     box-shadow: 0px 0px 5px #ccc;
     border: 3px solid #fff;
     top: -3px;
}
 .slider-track-high {
     background: #e2e9f0;
}
 .slider.slider-horizontal .slider-track {
     height: 5px;
}
 .slider.slider-horizontal {
     width: 100%;
}
 .one_listing {
     border-bottom: 0px !important;
     margin-bottom: 0px;
}
 .one_listing p {
     margin-bottom: 0px;
}
 .xtarpadding p {
     margin-bottom: 0px;
}
 .listing_side .range_slider {
     margin-top: 0px !important;
}
 #check_boxes {
     padding-top: 0px !important;
}
 #check_boxes label {
  font-family: 'montserratregular';
     font-size: 16px !important;
     color: #56676b !important;
     font-weight: normal;
     margin-bottom: 10px !important;
}
 .pagination>li>a {
     padding: 13px 21px !important;
     font-size: 22px;
     color: #253953 !important;
  font-family: 'montserratregular';
}
 .pagination>li>a:hover {
     background: #33bae7 !important;
     color: #fff !important;
}
 .pagination>li>a:focus {
     background: #33bae7 !important;
     color: #fff !important;
}
 .pagination {
     box-shadow: 0px 0px 7px #ccc;
}
 .menu {
     padding: 0px;
    /* 
    -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;

     */
     transition: all 0.6s ease-in-out;
}
 .logo{
     padding-left: 0px !important;
}
 .menu_scroll {

      -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;

    /* position: fixed;
    */
     width: 100%;
    /* margin-top: -50px;
    */
     z-index: 9999999;
     background: #67778e;
    /* padding-top: 20px;
    */
}
/*.logo_scroll img {
     width: 80%;
     -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     transition: all 0.6s ease-in-out ;
}
*/
 .logo img {
    /* -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
    */
     transition: all 0.6s ease-in-out;
}
 .logo_scroll {
    /*padding-top: 38px;
     padding-bottom: 7px;
    */
}
 .wow_menu_scroll ul li {
    /* padding-bottom: 29px;
    */
     padding-top: 64px;
}
 .login_process_scroll li {
     margin-bottom: 21px !important;
     margin-top: 53px !important;
}
 .social_media_scroll li {
    /* margin-bottom: 21px;
     margin-top: 47px;
    */
}
 .social_media_scroll {
     padding-top: 6px;
}
/* Listing Single Page Css */
 .listing_single {
     background: url(../images/list.jpg) center center;
}
 .listing_single i {
     color: #ffcc00;
     font-size: 15px;
}
 .listing_single .far {
     color: #dee0e3;
     font-size: 15px;
}
 .listing_single span {
     padding-left: 15px;
     font-family: 'montserratregular';
     letter-spacing: 1px;
     font-size: 14px;
     color: #56676b;
}
 .listing_single p {
     font-family: 'montserratregular';
     font-size: 16px;
     margin: 15px 0px !important;
     margin-bottom: 25px !important;
     font-family: 'montserratregular';
     color: #56676b !important;
}
 .listing_single .review_write_float {
     padding-bottom: 0px !important;
}
 .listing_single button {
     background: #33bae7;
     border: 0px;
     box-shadow: none;
     font-size: 16px;
     text-transform: uppercase;
      font-family: 'montserratmedium';
     color: #fff;
     padding: 9px 29px;
     border: 2px solid transparent;
     letter-spacing: 1px;
}
 .listing_single button:hover {
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     border: 2px solid #0f85ab;
     background: #fff;
     color: #0f85ab;
}
 .list_float {
     float: right;
}
 .list_float a {
     display: block;
     font-size: 13px;
     text-transform: uppercase;
     color: #fff;
     background: #33bae7;
      font-family: 'montserratmedium';
     letter-spacing: 1px;
     float: left;
     margin: 15px 10px;
     border: 2px solid transparent;
     padding: 8px 15px;
}
 .list_float a i {
     color: #fff;
     font-size: 13px;
}
 .list_float a:hover {
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     border: 2px solid #0f85ab;
     background: #fff;
     color: #0f85ab;
}
 .list_float a:hover i {
     color: #0f85ab;
}
 .list_float p {
     text-align: right;
     font-family: 'montserratregular';
     padding-right: 15px !important;
     color: #56676b !important;
}
 .list_float p span {
      font-family: 'montserratmedium';
     font-size: 16px;
     color: #33bae7 !important;
     font-size: 18px;
}
 .list_flight_review h5 {
    font-family: 'montserratsemibold';
     color: #253953;
     font-size: 25px;
     letter-spacing: 1px;
     padding: 15px 0px !important;
     padding-bottom: 35px !important;
}
 .list_flight_review h6 {
    font-family: 'montserratsemibold';
     color: #253953;
     font-size: 25px;
     letter-spacing: 1px;
     padding: 15px 0px !important;
}
/* Progress Bar*/
 .progress-bar {
     width: 0;
     -webkit-animation: progress 1.5s ease-in-out forwards;
     animation: progress 1.5s ease-in-out forwards;
     background: #33bae7 !important;
     height: 8px !important;
     box-shadow: none !important;
     border-radius: 5px !important;
}
 .progress {
     height: 8px !important;
     margin: 30px 0px !important;
     width: 95%;
}
 .progress-bar .title {
     opacity: 0;
     -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
     animation: show 0.35s forwards ease-in-out 0.5s;
}
 @-webkit-keyframes progress {
     from {
         width: 0;
    }
     to {
         width: 100%;
    }
}
 @keyframes progress {
     from {
         width: 0;
    }
     to {
         width: 100%;
    }
}
 @-webkit-keyframes show {
     from {
         opacity: 0;
    }
     to {
         opacity: 1;
    }
}
 @keyframes show {
     from {
         opacity: 0;
    }
     to {
         opacity: 1;
    }
}
 .flight_progress {
     border: 2px solid #e2e9f0;
     margin-bottom: 20px;
     box-shadow: 0px 0px 4px #e2e9f0;
}
 .flight_progress h3 {
     font-family: 'montserratregular';
     color: #253953;
     font-size: 16px;
     margin: 20px 10px !important;
}
 .flight_progress p {
     font-family: 'montserratregular';
     color: #253953;
     font-size: 16px;
     margin: 17px 0px !important;
}
 .progress_value {
     border-left: 2px solid #e2e9f0;
     background: #f5f7fa;
     padding: 5px 10px;
}
 .padding_progreass {
     padding: 8px 10px;
}
 .progress_value img {
     margin-left: 15px;
}
 .progrebar_list .review_left a {
     width: 213px !important;
}
 .list_reviewss {
     border: 2px solid #e2e9f0;
     padding: 20px;
     margin: 28px 0px;
     box-shadow: 0px 0px 4px #e2e9f0;
     margin-top: 10px !important;
}
 .list_reviewss i {
     color: #ffcc00;
     font-size: 15px;
}
 .list_reviewss .far {
     color: #dee0e3;
     font-size: 15px;
}
 .list_reviewss h3 {
      font-family: 'montserratmedium';
     color: #253953;
     font-size: 23px;
     margin-bottom: 15px !important;
}
 .list_reviewss span {
     padding-left: 15px;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     letter-spacing: 1px;
}
 .list_reviewss p {
     font-family: 'montserratregular';
     font-size: 15px;
     color: #56676b;
     margin-top: 20px;
     line-height: 30px;
}
 .listclass_list {
     float: left;
     width: 95%;
}
 .list_class_right {
     float: right;
     width: 5%;
     text-align: right;
}
 .list_class_right a {
     display: block;
     margin-bottom: 15px;
}
 .list_class_right i {
     font-size: 30px !important;
     color: #e4e6ea;
}
 .list_class_right .fas {
     color: #33bae7;
}
 .list_class_right .far:hover {
     color: #33bae7;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .list_class_right .fas:hover {
     color: #e4e6ea;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .padding_page {
     padding-top: 20px !important;
     padding-bottom: 15px !important;
}
 .listing_detail {
     padding-top: 29px;
     margin-bottom: 29px !important;
}
/* My Profile Css*/
 .top_profile {
     border: 2px solid #e2e9f0;
     padding: 35px 0px 35px 35px !important;
     margin-top: 70px;
     margin-bottom: 30px;
}
 .top_profile h4 {
    font-family: 'montserratsemibold';
     font-size: 40px;
     color: #253953;
     margin: 8px 0px !important;
}
 .top_profile p {
     font-family: 'montserratregular';
     color: #56676b;
     font-size: 20px;
}
 .top_profile a {
     display: block;
     border: 2px solid #2092c5;
     padding: 8px 0px;
     letter-spacing: 1px;
     text-align: center;
     text-transform: uppercase;
     width: 130px;
     color: #2092c5;
     font-size: 13px;
      font-family: 'montserratmedium';
     text-decoration: none;
     margin-top: 50px;
     margin-bottom: 20px;
}
 .top_profile a:hover {
     border: 2px solid transparent;
     background: #253953;
     color: #fff;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .skew_class {
     padding: 25px;
     position: relative;
     background: #f5f7fa;
     margin-left: 34px;
     z-index: 999999;
}
 .skew_class:after {
     content: " ";
     position: absolute;
     display: block;
     width: 100%;
     height: 100%;
     top: 0;
     z-index: -99;
     left: 0;
     background: #f5f7fa;
     transform-origin: top left;
     -ms-transform: skew(-12deg, 0deg);
     -webkit-transform: skew(-12deg, 0deg);
     transform: skew(-12deg, 0deg);
     border-left: 2px solid #e2e9f0;
     border-top: 2px solid #e2e9f0;
}
 .borderbottom {
     border-bottom: 2px solid #e2e9f0;
}
 .skew_class h3 {
    font-family: 'montserratsemibold';
     font-size: 20px;
     color: #253953;
}
 .skew_class .progress {
     margin: 15px 0px !important;
     width: 100%;
     background: #e3e8ee;
     height: 10px !important;
     box-shadow: none;
}
 .skew_class .progress-bar {
     height: 10px !important;
}
 .skew_class h5 {
     float: left;
     font-family: 'montserratregular';
     color: #56676b;
     font-size: 15px;
}
 .skew_class h6 {
     float: right;
     font-family: 'montserratregular';
     color: #56676b;
     font-size: 15px;
     padding-bottom: 30px !important;
}
 .skew_class button {
     position: absolute;
     bottom: -15px;
     background: #33bae7;
     color: #fff;
     border: 2px solid transparent;
     box-shadow: none;
      font-family: 'montserratmedium';
     font-size: 13px;
     text-transform: uppercase;
     padding: 11px 41px;
     letter-spacing: 1px;
}
 .skew_class button:hover {
     border: 2px solid #2092c5;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     color: #2092c5;
     background: #fff;
}
 .my_account {
     border: 2px solid #e2e9f0;
     padding: 35px 35px;
     margin-bottom: 70px;
}
 .my_account h4 {
    font-family: 'montserratsemibold';
     font-size: 25px;
     color: #253953;
}
 .my_account ul {
     margin: 0px;
}
 .my_account ul li {
     display: block;
     line-height: 40px;
}
 .my_account ul li strong {
     font-family: 'montserratregular';
     font-size: 16px;
     color: #56676b;
     width: 100px;
     display: block;
     float: left;
     font-weight: normal;
     text-transform: capitalize;
}
 .my_account ul li span {
     font-family: 'montserratregular';
     font-size: 18px;
     color: #253953;
     padding-left: 20px;
     display: block;
     float: left;
}
 .my_account img {
     margin: 20px 0px;
}
 .my_account ul li span a {
     color: #33bae7;
}
 .myAccount ul {
     margin: 0px;
}
 .myAccount ul a li {
     display: block;
     border: 1px solid #e2e9f0;
     width: 80%;
     padding: 6px 25px;
     color: #253953;
     font-size: 18px;
     font-family: 'montserratregular';
}
 .myAccount ul a li:hover {
     background: #f5f7fa;
     transition: all 0.6s ease-in-out;
}
/* Thanks page css */
 #thankyou {
     background: url(../images/thank.jpg) center center no-repeat;
     background-size: cover;
     height: 725px;
     padding-top: 420px;
}
 .thankyou_text {
     color: #fff;
     background: #33bae7;
     text-align: center;
     font-family: 'montserratregular';
     font-size: 70px;
     text-transform: capitalize;
     width: 470px;
     margin: 0px auto;
}
 #thankyou p {
     font-family: 'montserratregular';
     font-size: 20px;
     color: #56676b;
     padding: 20px 0px;
     letter-spacing: 1px;
}
 #thankyou a {
     width: 165px;
     padding: 9px 0px;
     display: block;
     border: 2px solid #0f85ab;
     margin: 0px auto;
     text-transform: uppercase;
      font-family: 'montserratmedium';
     letter-spacing: 1px;
}
/* Blog Page Css*/
 #common_blog {
     margin: 60px 0px;
}
 .left_blog img {
     border-radius: 10px;
     width: 100%;
}
 .left_blog {
     padding-left: 0px !important;
}
 .left_blog h4 {
    font-family: 'montserratsemibold';
     ../ font-size: 25px;
     color: #253953;
     margin: 30px 0px !important;
}
 .sharing_blog {
     float: right;
     text-align: right;
}
 .sharing_blog i {
     color: #33bae7 !important;
}
 .left_blog span {
     margin-right: 15px;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
}
 .left_blog span i {
     padding-right: 10px;
     color: #dbe2e8;
     font-size: 16px;
}
 .left_blog span:hover {
     cursor: pointer;
}
 .left_blog p {
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     line-height: 30px;
     margin: 20px 0px;
     text-align: justify;
}
 .left_blog a {
     display: block;
     width: 145px;
     padding: 8px 0px;
     border: 2px solid #0f85ab;
     color: #0f85ab;
     text-transform: uppercase;
     text-align: center;
      font-family: 'montserratmedium';
     font-size: 16px;
     margin-bottom: 25px;
}
 .left_blog a:hover {
     background: #33bae7;
     color: #fff;
     border: 2px solid transparent;
     cursor: pointer;
     transition: all 0.6s ease-in-out;
}
 .blog_sidebar .input-group {
     margin: 30px 0px;
}
 .blog_sidebar .btn-default {
     border-left: none;
}
 .blog_sidebar .form-control {
     height: 45px !important;
     border-color: #e2e9f0;
     border-radius: 0px !important;
}
 .blog_sidebar .form-control:focus {
     outline: none !important;
     box-shadow: none !important;
     border-color: #e2e9f0;
}
 .blog_sidebar .input-group-btn button {
     height: 45px !important;
     outline: none;
     border-color: #e2e9f0;
     border-radius: 0px !important 
}
 .blog_sidebar .input-group-btn button:focus {
     border-left: none !important;
     box-shadow: none !important;
     background: transparent;
     outline: none;
}
 .blog_sidebar .input-group {
     outline: none;
     box-shadow: none;
}
 .blog_sidebar h4 {
      font-family: 'montserratmedium';
     font-size: 22px;
     color: #253953;
}
 .recetpost {
     border-bottom: 1px solid #e2e9f0;
     margin-bottom: 20px;
}
 .recetpost ul {
     margin: 0px;
}
 .recetpost ul li {
     display: block;
}
 .recetpost ul li img {
     float: left;
     height: 95px;
     width: 105px;
}
 .recetpost h3 {
    font-family: 'montserratsemibold';
     font-size: 18px;
     color: #253953;
     padding-left: 20px !important;
     float: left;
     width: 70%;
     line-height: 30px;
}
 .recetpost h3 span {
     font-family: 'montserratregular';
     font-size: 13px;
     color: #56676b !important;
     display: block;
     margin: 10px 0px;
}
 .margin_asset {
     margin-bottom: 25px;
     margin-top: 15px;
}
 .recetpost p {
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     line-height: 30px;
     letter-spacing: 0.6px;
     margin-bottom: 15px;
}
 .recetpost p b {
    font-family: 'montserratsemibold';
     font-weight: normal;
     color: #253953;
     font-size: 16px;
}
 .blog_cat {
     border-bottom: 1px solid #e2e9f0;
     margin-bottom: 7px;
     padding: 12px 0px;
}
 .blog_cat h3 {
     display: block;
     height: 18px;
     width: 18px;
     border: 1px solid #e2e9f0;
     border-radius: 2px;
     float: left;
}
 .blog_cat span {
     display: block;
     float: right;
     color: #56676b;
}
 .blog_cat p {
     display: block;
     float: left;
     font-family: 'montserratregular';
     font-size: 15px;
     color: #56676b;
     margin: -1px 12px;
}
 .blog_cat a {
     display: block;
}
 .blog_cat:hover p {
     color: #33bae7;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
}
 .blog_cat:hover span {
     color: #33bae7;
     transition: all 0.6s ease-in-out;
     cursor: pointer;
     transform: rotate(360deg);
}
 #blog_pagination a {
     display: inherit;
     width: auto;
     box-shadow: none;
     margin-bottom: 0px;
}
 .blockquote-box {
     border-left: 5px solid #0f85ab;
     background: #f7fcff;
     padding: 25px;
}
 .blockquote-box p {
     margin: 0px;
      font-family: 'montserratmedium';
     font-size: 16px;
     color: #56676b;
}
 .blog_imagess {
     height: 230px;
     margin: 20px 0px;
}
 .padding_blg {
     padding-left: 0px !important;
}
 .back_blog {
     background: url(../images/bg1.png) center center no-repeat;
     height: 135px;
     background-size: 98%;
     padding: 15px 50px !important;
}
 .without_radius {
     border-radius: 0px !important;
     width: 70% !important;
}
 .padd_riht {
     padding-right: 0px !important;
}
 .back_blog h3 {
    font-family: 'montserratsemibold';
     color: #253953;
     font-size: 16px;
}
 .back_blog p {
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     margin: 0px !important;
     line-height: 28px !important;
}
 .comm_blog {
     margin-bottom: 30px;
}
 .user_comments h4 {
      font-family: 'montserratmedium';
     font-size: 20px;
     color: #253953;
     margin-bottom: 0px !important;
}
 .margin_asset1 {
     width: auto !important;
     margin-top: 15px !important;
     margin-bottom: 30px !important;
}
 .comm_blog textarea {
     width: 100%;
     border-radius: 0px;
     font-family: 'montserratregular';
     font-size: 14px;
     color: #56676b;
     height: 185px !important;
     resize: none;
     padding: 15px 15px !important;
     border: 1px solid #e2e9f0;
     outline: none;
}
 .comm_blog textarea:focus {
     outline: none;
     border: 1px solid #0f85ab;
}
 .comm_blog button {
     width: 100%;
     background: #0f85ab;
     color: #fff;
     text-transform: uppercase;
      font-family: 'montserratmedium';
     font-size: 16px;
     padding: 66px 0px;
     border: 0px;
     border: 2px solid transparent;
}
 .comm_blog button:focus {
     outline: none;
}
 .comm_blog button i {
     font-size: 23px;
}
 .comm_blog button:hover {
     transition: all 0.6s ease-in-out;
     border: 2px solid #0f85ab;
     color: #0f85ab;
     cursor: pointer;
     background: transparent;
}
 .redirect_page {
     border: none !important;
     text-transform: capitalize !important;
     width: auto !important;
     background: transparent;
     margin: 0px !important;
     text-align: left !important;
     display: inherit !important;
     padding: 0px 0px !important;
}
 .redirect_page:hover {
     background: transparent !important;
     outline: none !important;
     text-decoration: none !important;
}
/* Validation Class */
 .help-block {
     margin-top: -17px !important;
     font-family: 'montserratregular';
}
 .search_shadow .help-block {
     margin-top: 0px !important;
}
 .form-control select:focus {
     box-shadow: none !important;
}
 .service_form .help-block {
     margin-top: 15px !important;
}
 .slidermahi {
     width: 100%;
     height: 580px;
     transition: transform 8000ms ease-out, opacity 800ms;
     position: relative;
}
 .slide1mahi, .slide2mahi, .slide3mahi, .slide4mahi, .slide5mahi {
     position: absolute;
     width: 100%;
     transition: transform 8000ms ease-out, opacity 800ms;
     height: 100%;
}
 .slide1mahi {
     background: url(../images/slide.jpg)no-repeat center;
     background-size: cover;
     animation: fade 8s infinite;
     -webkit-animation: fade 8s infinite;
}
 .slide2mahi {
     background: url(../images/slider5.jpg)no-repeat center;
     background-size: cover;
     transition: transform 8000ms ease-out, opacity 800ms;
     animation: fade2 8s infinite;
     -webkit-animation: fade2 8s infinite;
}
 .slide3mahi {
     background: url(../images/slider6.jpg)no-repeat center;
     background-size: cover;
     animation: fade3 8s infinite;
     -webkit-animation: fade3 8s infinite;
     transition: transform 8000ms ease-out, opacity 800ms;
}
 @keyframes fade {
     0% {
         opacity: 1 
    }
     33.333% {
         opacity: 0.9 
    }
     66.666% {
         opacity: 0 
    }
     100% {
         opacity: 1 
    }
}
 @keyframes fade2 {
     0% {
         opacity: 0 
    }
     33.333% {
         opacity: 1 
    }
     66.666% {
         opacity: 0 
    }
     100% {
         opacity: 0 
    }
}
 @keyframes fade3 {
     0% {
         opacity: 0 
    }
     33.333% {
         opacity: 0 
    }
     66.666% {
         opacity: 1 
    }
     100% {
         opacity: 0 
    }
}
 .mat-checkbox-checked.mat-accent .mat-checkbox-background {
     background-color: #52bae7;
}
 .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
     background-color: rgba(82, 186, 231, 0.24);
}
 .mat-slider-thumb {
     height: 20px !important;
     width: 20px!important;
     border: 3px solid #ccc!important;
}
 .mat-slider-horizontal .mat-slider-ticks {
     height: 5px!important;
     border-radius: 6px !important;
}
 .mat-slider-horizontal .mat-slider-track-background {
     height: 5px!important;
     border-radius: 6px !important;
}
 .mat-slider-horizontal .mat-slider-wrapper {
     height: 5px!important;
     border-radius: 6px !important;
}
 .mat-slider-horizontal .mat-slider-track-wrapper {
     height: 5px!important;
     border-radius: 6px !important;
}
 .mat-slider-horizontal .mat-slider-track-background {
     height: 5px!important;
     border-radius: 6px !important;
}
 .mat-slider-horizontal .mat-slider-track-fill {
     height: 5px!important;
     border-radius: 6px !important;
}
 .mat-slider-track-background {
     background-color: rgba(158, 151, 151, 0.38);
}
 .mat-accent .mat-slider-track-fill {
     background-color: #52bae7;
}
 .mat-accent .mat-slider-thumb {
     background-color: #52bae7;
}
 .mat-radio-outer-circle {
     top: 5px !important;
}
 .mat-radio-inner-circle {
     top: 5px !important;
}
 .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
     top: 6px !important;
}
 .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
     border-color: #52bae7;
}
 .mat-radio-button.mat-accent .mat-radio-inner-circle {
     background-color: #52bae7;
}
 .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
     background-color: rgba(82, 186, 231, 0.2);
}
 .mat-form-field-infix {
     border: 1px solid #e2e9f0;
}
 .innre_share{
     position: absolute;
     bottom: -32px;
     height: 60px;
     width: 60px;
     right: 0px;
     background: url(../images/share.png);
     background-size: cover;
     padding-top: 18px;
     padding-right: 7px;
     text-align: center;
}
 .innre_share:hover{
     transform: scale(1.2);
     z-index: 999999999;
     transition: 0.5s;
}
 .moste_slider{
     border: 1px solid #dfdfdf;
     border-right: 0px;
     padding:30px !important;
     height: 470px !important;
}
 .mosre_rated img{
     height: 470px !important;
     width: 100%;
}
 .moste_slider h4{
     padding: 15px 0px !important;
     font-size: 35px;
     font-family: 'montserratregular';
     color: #38363d;
}
 .moste_slider img{
     width: auto !important;
     display: inline-block !important;
}
 .moste_slider h4 span{
     font-family: 'montserratmedium';
}
 .moste_slider p{
     font-family: 'montserratlight';
     font-size: 16px;
     color: #62646a;
     padding: 0px 8%;
     line-height: 30px;
}
 #recent_blog{
     background: #f3f4f5;
     margin: 50px 0px;
     margin-bottom: 0px;
}
 .blog_detail button{
     background: #38363d !important;
     margin: 15px 0px;
     margin-top: 0px;
     color: #fff !important;
     font-family: 'montserratsemibold';
     font-size: 12px;
     padding: 8px 20px;
     border-radius: 4px;
     text-transform: uppercase;
     outline: none;
     border: 0px;
}
 .blog_detail button:hover{
     background: #0c91f8 !important;
     transition: all 0.6s ease-in-out;
     color: #fff !important;
}
 #recentblog .owl-dot span{
     width: 12px !important;
     height: 12px !important;
}
 #recentblog .owl-dot.active span{
     background: #cd950c !important;
}
 #recentblog .owl-dots {
     margin-top: 38px !important;
}
 
 .dropdown-menu>li>a{
    padding: 16px 0px !important;
 }
 #selectboxCommon button{
    padding: 15px 0px !important;
    border: 0px;
    border-bottom: 2px solid #e2e9f0 !important;
    border-radius: 0px;
    outline: none !important;
    font-family: 'montserratregular';
    color: #56676b;
    font-size: 14px;
    letter-spacing: 0.5px;
    box-shadow: none !important;
    font-weight: 700;
    background: #fff !important;
 }
  #selectboxCommon button:focus{
    outline: none !important;
    border: 0px !important;
    border-bottom: 2px solid #e2e9f0 !important;
    box-shadow: none !important;
    background: #fff !important;

  }
 #selectboxCommon button:hover{
    background: #fff !important;
    box-shadow: none !important;
 }

  #selectboxCommon .dropdown-menu {
    top: 50px !important;
    border-top: 0px;
    border-radius: 0px;
 }

#selectboxCommon .text{
    font-family: 'montserratregular';
    color: #56676b;
    font-size: 14px;
    letter-spacing: 0.5px;
   }
.dropdown-menu>.active>a{
 
    background: #fff;
}
 .dropdown-menu>.active>a:hover {
  background: #fff;
 }
.closebtn{
    display: none;
}
.logo span{
    display: none;
    font-size: 20px;
}
.sidenav i{
   visibility: hidden;
   display: none;
}

/*Edit Profile*/

.my_account input{
    width: 90%;
    border-radius: 0px;
    border-color: #e2e9f0;
    font-family: 'montserratregular';
    font-size: 14px;
    color: #56676b;
    box-shadow: none !important;
    height: 60px;
    padding: 0px 15px !important;
    margin-bottom: 20px;
}
.my_account textarea{
    width: 90%;
    border-radius: 0px;
    border-color: #e2e9f0;
    font-family: 'montserratregular';
    font-size: 14px;
    color: #56676b;
    height: 100px;
    box-shadow: none !important;
    resize: none;
    padding: 15px 15px !important;
    margin-bottom: 20px;
}
#changepaspro ul li{
    width: 100%;
}
#changepaspro{
    padding-right: 0px !important;
}
.my_account button{
    color: #fff;
    font-family: 'montserratmedium';
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px !important;
    display: block;
    padding: 12px 10px;
    text-align: center;
    background: url(../images/button.png) center center no-repeat;
    background-size: cover;
    border-radius: 4px;
    border: 0px;
    outline: none;
}
.my_account button:hover{
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    color: #000;
}
#common_password{
    margin-top: 70px;
}
.forgot_password{
    font-family: 'montserratregular';
    color: #0f85ab;
    font-size: 16px;
    cursor: pointer;
}
#forgot_password .form_inner{
    min-height: auto !important;
    height: auto !important;
    width: 800px !important;
    background: #fff !important;
}

#forgot_password  .form_margin button{
        margin: 4px 0px !important;
}

.rating {
  
   float: left;
  text-align: left;
}

.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:28px;
    overflow:hidden;
 
    font-size:25px;
    color:#ddd;
   
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #ffcc00;
    cursor: pointer;
   
   }

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffcc00;
    
}

.review_right .rating:not(:checked) > label{
    width: 40px !important;
}
.desktop_hide{
    display: none !important;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  background: #5db9ec;
}
.styled-checkbox:hover + label:before {
  background: #5db9ec;
}
.styled-checkbox:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #5db9ec;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#recetpasswordd{
    padding: 60px 0px;
}
#recetpasswordd input{
    width: 100% !important;
}
#recetpasswordd .my_account{
    margin-bottom: 0px;
}
.mainFileUpload{
    float: right;

}
#dvPreview img{
    margin: 10px !important;
}


.mainFileUpload{
      border: 2px solid #0f85ab;
    color: #0f85ab;
    height: 40px;
    text-transform: uppercase;
    width: 165px;
  position:relative;
padding: 8px 0px;
text-align: center;
  float:right;
  cursor:pointer;
      background: #fff;
    font-family: 'montserratmedium';
    font-size: 18px;
}
.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
    
}
#collapseExample{

  overflow: hidden;
     -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.collapseExample1{
     background: #2399f3;
    font-family: 'montserratsemibold';
    font-size: 18px;
     margin-bottom: 20px !important;
     display: block;
    padding: 13px 10px;
    width: 40%;
    color: #fff;
    text-decoration: none;
    outline: none;
}
.collapseExample1:hover{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    outline: none;
}
.collapseExample1:focus{
    text-decoration: none;
    outline: none;
    color: #fff;
}
.recent_margin img{
     width: 100%;
}
.flight_detailsl li{
     line-height: 50px !important;
}
.flight_detailsl li strong{
     width: 200px !important;
}
#detailspage_flight{
     margin-top: 65px;
}
#flight_detailsl p{
     margin: 0px;
}
#flight_detailsl .fa{
     color: #ffcc00;
    font-size: 15px;
}
#flight_detailsl .far{
         color: #dee0e3;
    font-size: 15px;
}
#accordion2{
     margin: 65px 0px;
     border: 1px solid #e2e9f0;
     padding: 20px 15px;
      
}
#accordion2 .accordion-toggle {
     font-family: 'montserratmedium';
    font-size: 20px;
    color: #253953 !important;
    outline: none; 
    text-decoration: none; 
    
}
#accordion2 .accordion-toggle:hover {
     outline: none;
     text-decoration: none;
}

#accordion2 .accordion-inner{
     font-family: 'montserratregular';
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    color: #253953;
}
.accordion-heading{
     margin: 10px 0px;

}
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f067";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}
.accordion-group{
      border: 1px solid #e2e9f0;
     padding: 5px 15px;
     margin-bottom: 10px;
}
#privacy_policy{
     padding: 65px 0px;
}
#privacy_policy h3{
     font-size: 20px;
     margin-bottom: 15px !important;
     font-family: 'montserratsemibold';
     color:#253953;
}
#privacy_policy p{
     font-family: 'montserratregular';
    font-size: 15px;
    color: #56676b;
    letter-spacing: 1px;
    line-height: 30px;
}
#privacy_policy  ul h3{
     margin-left: 25px !important;
     display: block;
     margin-top: 15px !important;
}
#privacy_policy ul li{
     margin-left: 50px;
     list-style-type : decimal;
     font-family: 'montserratregular';
    font-size: 15px;
    color: #56676b;
    letter-spacing: 1px;
    line-height: 30px;
}


#frequent_btn select{
     border: 1px solid #e2e9f0;
     height: 50px;
    color: #253953;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'montserratregular';
}


.btn-add {
     width: 30px;
     height: 30px;
      border-radius: 100% !important;
     background: red !important;

}
#frequent_btn button{
      width: 30px;
     height: 30px;
     border-radius: 100% !important;
     background: #33bae7 !important;
     margin-top: -49px !important;
    margin-left: 11px;
}
#frequent_btn .glyphicon{
     right: 1px;
    top: -4px;
    font-size: 12px;
}
.frequent_btn{
     width: 200px !important;
     border-radius: 0px !important;
     margin-top: 0px !important;
}

.form-horizontal .form-group {
     margin-right: 0px !important;
}
#page_not_found h4{
     font-family: 'montserrat_alternatesregular';
    font-size: 45px;
}
#page_not_found{
     padding: 65px 0px;
}
.pagenotfound{
     width: 100% !important;
}


/* Sandeep Added */

}
.form-horizontal .form-group {
     margin-right: 0px !important;
}
.contact_error .help-block{
     margin-top: 10px !important; 
}


.close_message{
     margin-top: 84px !important;
}
.close_message_2{
     margin-top: 104px !important;
}

 .view_all_a {
     font-family: 'montserratmedium';
     font-size: 16px;
     width: 155px;
     display: block;
     margin: 0px auto;
     color: #fff;
     text-transform: uppercase;
}
/* Write A Review Css */

.star_1{
     background: #f3423c;
     display: inline-block;
     text-align: center;
     border-radius: 4px;
     color: #fff;
     font-family: 'montserratregular';
     width: 60px;
     line-height: 20px;
     font-size: 13px;
     font-weight: bold;
     padding-top: 4px;
}
.note_board{
     font-size: 15px;
     font-family: 'montserratregular';
     font-weight: 100;
     color: #56676b;
}
.star_2{
     background: #fd9500;
}
.star_3{
     background: #00bcd7;
}
.star_4{
     background: #4eae4c;
}
.star_5{
     background: #2399f3;
}
.note_board p{
     display: inline-block !important;
     margin: 0px 15px 0px 0px !important;
}
.first_red{
     color: #f3423c!important;
}
.two_rating{
     color: #fd9500!important;
}
.three_rating{
     color: #00bcd7!important;
}
.four_rating{
     color: #4eae4c!important;
}
.rating_five{
     color: #2399f3 !important;
}
.overall_rating{
     background: #f5f7fa;
     border: 1px solid #e2e9f0;
     padding: 12px 15px;
     margin-top: 40px;
     margin-bottom: 20px;
}
#padd-reviewsss{
     padding-left: 0px !important;
}
.overall_rating p{
     font-family: 'montserratregular'; 
     font-size: 18px;
     color: #253953;
   
     margin: 0px 0px;
     padding-bottom:15px !important;
}
#styles_rating label{
     margin-bottom: 15px;
}
#styles_rating i{
     font-size: 15px !important;
}
.fa-star{
     color: #e2e9f0;
}

.overall_rating .form-group{
     margin-bottom: 0px !important;
}
.overll{
     font-family: 'montserratregular';
    font-size: 16px;
    color: #253953;
    margin: 0px 0px;
    padding-bottom:20px !important;
}
.rating_submit{
     width: 175px;
   padding: 11px 0px;
    text-align: center;
    border: 2px solid #ffd16b;
    color: #ffd16b;
    background: #fff;
    font-family: 'montserratmedium';
    font-size: 18px;
   margin: 0px 0px;
}
.rating_submit:hover{
     border: 2px solid #0f85ab;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    color: #0f85ab;
}



.wrapper {
  position: absolute;
  width: 15%;
  top: 20%;
  left: -6%;
  padding: 5px 0px;


}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 35px;
  height: 35px;
  padding: 5px 0px;
  font-size: 10px;
  margin: 10px 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
    border:2px solid #4391f8 !important;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fab-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 2px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 2px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 2px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 2px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}
.fa-facebook-f{
     font-size: 16px;
}
#testdiv {
  position: absolute;
  width: 15%;
  top: -50%;
  left: -12%;
  padding: 5px 0px;
  
}

/* Style the Un-order list by setting its list-style to none */
#testdiv ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
#testdiv ul li {
  width: 35px;
  height: 35px;
  padding: 5px 0px;
  font-size: 10px;
  margin: 10px 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
    border:2px solid #4391f8 !important;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
#testdiv ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
#testdiv ul li:hover.facebook {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

#testdiv ul li:hover .fab-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
#testdiv ul li:hover.twitter {
  border: 2px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

#testdiv ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
#testdiv ul li:hover.instagram {
  border: 2px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

#testdiv ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
#testdiv ul li:hover.google {
  border: 2px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

#testdiv ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
#testdiv ul li:hover.whatsapp {
  border: 2px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

#testdiv ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}